.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  button:hover {
    background-color: #2563eb;
  }
  